<div class="HomePage">
  <div class="row">
    <app-Button
      btnName="Movie"
      [isSelected]="entertainmentType === 'movie'"
      (btnClicked)="typeChanged('movie')"
    ></app-Button>
    <app-Button
      btnName="TV"
      [isSelected]="entertainmentType === 'tv'"
      (btnClicked)="typeChanged('tv')"
    ></app-Button>
  </div>
  <app-Input
    placeholder="Search..."
    [showIcon]="true"
    (onKeyEnter)="searchInput($event)"
  ></app-Input>
  <div class="contentContainer">
    <ng-container *ngIf="isSearch">
      <app-MovieSearchInfo
        *ngFor="let item of searchResult.results"
        [entertainment]="item"
      ></app-MovieSearchInfo>
    </ng-container>

    <ng-container *ngIf="!isSearch">
      <div class="movieListContainer" *ngIf="trending">
        <div class="row">
          <h2>Trending</h2>
          <app-Button
            btnName="Today"
            [isSelected]="trendingDaySelected"
            (btnClicked)="trendingBtn('day')"
          ></app-Button>
          <app-Button
            btnName="This Week"
            [isSelected]="trendingThisWeekSelected"
            (btnClicked)="trendingBtn('week')"
          ></app-Button>
        </div>
        <div class="movieListWrapper">
          <app-MovieCard
            *ngFor="let item of trending.results"
            [entertainment]="item"
          ></app-MovieCard>
        </div>
      </div>

      <div class="movieListContainer" *ngIf="popular">
        <div class="row">
          <h2>Popular</h2>
        </div>
        <div class="movieListWrapper">
          <app-MovieCard
            *ngFor="let item of popular.results"
            [entertainment]="item"
          ></app-MovieCard>
        </div>
      </div>

      <div class="movieListContainer" *ngIf="upcoming">
        <div class="row">
          <h2>Upcoming</h2>
        </div>
        <div class="movieListWrapper">
          <app-MovieCard
            *ngFor="let item of upcoming.results"
            [entertainment]="item"
          ></app-MovieCard>
        </div>
      </div>

      <div class="movieListContainer" *ngIf="topRated">
        <div class="row">
          <h2>Top Rated</h2>
        </div>
        <div class="movieListWrapper">
          <app-MovieCard
            *ngFor="let item of topRated.results"
            [entertainment]="item"
          ></app-MovieCard>
        </div>
      </div>
    </ng-container>
  </div>
</div>
