@import "_main";

.HomePage {
  padding: 2rem 4rem;

  .contentContainer {
    @include flex-column;
    margin-top: 4rem;

    .movieListContainer {
      overflow-x: scroll;
      display: flex;
      padding-bottom: 1rem;
    }
  }
}
