@import "_main";

.mainContainer {
  padding: 2rem 12rem;

  .row {
    display: flex;
    margin-top: 3rem;
  }

  .row > * {
    margin-right: 2rem;
  }

  .sectionContainer {
    margin-top: 3rem;

    h1 {
      color: $fontPrimary;
      font-weight: 100;
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    .sectionListWrapper {
      overflow-x: scroll;
      display: flex;
    }
  }
}

@include large {
  .mainContainer {
    padding: 2rem 4rem;
  }
}

@include tablet {
  .mainContainer {
    padding: 2rem;

    .row {
      @include flex-column;
    }
  }
}

@include mobile {
  .mainContainer {
    padding: 1rem;
  }
}
