<div class="mainDetails">
  <img
    src="https://image.tmdb.org/t/p/w500/bNo2mcvSwIvnx8K6y1euAc1TLVq.jpg"
    alt="poster"
  />
  <div class="content">
    <p>
      John Garrity, his estranged wife and their young son embark on a perilous
      journey to find sanctuary as a planet-killing comet hurtles toward Earth.
      Amid terrifying accounts of cities getting levelled, the Garrity's
      experience the best and worst in humanity. As the countdown to the global
      apocalypse approaches zero, their incredible trek culminates in a
      desperate and last-minute flight to a possible safe haven.
    </p>
    <div class="row">
      <div class="creator">
        <h3>Rock Roman Wough</h3>
        <h4>Director</h4>
      </div>
      <div class="creator">
        <h3>Rock Roman Wough</h3>
        <h4>Director</h4>
      </div>
    </div>
    <div class="row"></div>
  </div>
</div>
