@import "_main";

.header {
  display: flex;
  align-items: center;

  .icon {
    @include flex-center;
    width: 15px;
    height: 15px;
    border: 1px solid $red;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
  }

  fa-icon {
    font-size: 1.2rem;
    color: $red;
  }

  .content {
    @include flex-column;
    margin-left: 2rem;

    h1 {
      font-size: 3rem;
      font-weight: 100;
      color: $fontPrimary;
    }

    h4 {
      color: $fontSecondary;
      font-weight: 300;
      font-size: 0.9rem;
    }
  }
}
